* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    height: 100px;
}

.img-nav {
    width: 75px;
    height: 75px;
}

.titulo {
    color: white;
}

main {
    background-image: url('/img/fondo_rick.jpg');
    padding: 100px;
}

.footer {
    display: flex;
    width: 100%;
    height: 100px;
    color: white;
    background-color: black;
    justify-content: space-around;
    align-items: center;
}

.personajes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.img-personaje {
    width: 250px;
    height: 250px;
}

.info-results {
    display: flex;
    justify-content: space-around;
    justify-items: left;
}

.flip-card {
    background-color: #3d3d3d;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
}

.card-content {
    padding: 20px;
    text-align: center;
}

@media (max-width: 480px) {

    .img-nav {
        width: 60px;
        height: 50px;
    }

    .personajes {
        transform: scale(0.6);
        transform-origin: top;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .footer h4 {
        font-size: 15px;
    }

    .titulo {
        font-size: 20px;
    }

    .todos {
        height: 7600px;
    }
}
